@media print{

    * {
        color: black;
        background: transparent;
        box-shadow: 0px 0px transparent;
    }

    .navBarContainer, .headerImg{
        display: none;
    }

    .models {
        margin-top: 0px;
    }

    .storeFinderContainer{
        margin-top: 400px;
        margin-bottom: 300px;
    }

    .contactContainer{
        margin-bottom: 300px;
    }
}

@page {
    margin: 0.5in;
    size: 8.5in 11in;
}